# Demo 04 - Pandas & Matplotlib

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import time
import random

## Numpy

In [ ]:
np.full(5, True)

**Question:** How many True's are there?

In [1]:
sum(np.full(5, True))

NameError: name 'np' is not defined



## DataFrames

### Constructing a DataFrame

##### Empty dataframe

In [ ]:
pd.DataFrame()

**Adding columns to an empty dataframe**

In [ ]:
tmp_df = pd.DataFrame()

# make 2 arrays and one list
list_one = ...
array_one = ...
array_two = ...

# add each as a column to tmp_df

tmp_df

### Pudding Film Dialogue Data

The data we will work with today comes from https://pudding.cool/2017/03/film-dialogue/

> Lately, Hollywood has been taking so much shit for rampant sexism and racism. The prevailing theme: white men dominate movie roles.

> But it’s all rhetoric and no data, which gets us nowhere in terms of having an informed discussion. How many movies are actually about men? What changes by genre, era, or box-office revenue? What circumstances generate more diversity?

> We didn’t set out trying to prove anything, but rather compile real data. We framed it as a census rather than a study. So we Googled our way to 8,000 screenplays and matched each character’s lines to an actor. From there, we compiled the number of words spoken by male and female characters across roughly 2,000 films, arguably the largest undertaking of script analysis, ever.

In [ ]:
pd.read_csv("data/Pudding-Film-Dialogue-Clean.csv")

In [ ]:
df = pd.read_csv("data/Pudding-Film-Dialogue-Clean.csv")
df.head(5)

**Question:** What are the different types in each column?

**Question:** This dataframe is pretty big, so lets just sample 1,000 examples and use that instead

### Listing columns

**Question:** On your own using the documentation, find the two ways we can list the columns.

*Hint* One way is a dataframe function and the other is an attribute/instance

### Accessing columns

3 options:

- `df.get(<column name>)`
- `df[<column name>]` - access like a collection
- `df.<column name>` - access like a attribute/method

In [ ]:
# try first option here
df.get('gender')

In [ ]:
# try second option here
df['gender']

In [ ]:
# try third option here
df.gender

### Accessing rows

In [ ]:
## Access by index label

df.loc[4]

In [ ]:
## Access by location

df.iloc[-1]

### Sorting dataframe

In [ ]:
df.keys()

**Question:** What column should we sort by?

**Question:** What two columns should we sort by?

Return type of dataframe functions

### Querying

**Question:** Find all movies over a certain age

**Question:** Make a new dataframe that has movies of just this certain age

In [ ]:
old_movies = ...
old_movies

Let's look at the indices

**Question:** What do we notice about these indices?

Let's update our indices

**Question:** What method do you think we can use?

In [ ]:
df.reset_index?

Let's not include the original index

In [ ]:
df.reset_index?

#### Querying on Multiple Conditions

In [ ]:
df[
    (df['release_year'] < 1930) # condition 1
    & # and 
    (df['gender'] == 'man') # condition 2
]

"|" for or

In [ ]:
df

### Values in a column

**Question:** Based on everything we've seen so far, how can we determine the set of values that are in a column?

<details>
<summary>Hint</summary>
<b>1. Accessing the column; 2. convert the column (Series) to a set</b>  
</details>

In [ ]:
#skip

In [ ]:
#skip

`unique()`

In [ ]:
df['gender'].unique()

**Question:** How many rows have their gender assigned as `woman`, `man`, or `?`

(note: 1st using everything we know so far, 2nd using my favoritve method)


### Grouping

Let's group by gender

In [ ]:
gender_groups = df.groupby('gender')
gender_groups

Now let's find the mean/average values of the other columns for each gender

In [ ]:
gender_groups.mean()

**What just happened?**

1. The table’s rows are split into groups according to gender. 
    - All of the rows whose gender is 'man' are placed into one group,
    - All of the rows whose gender is 'woman' are placed into another group.
    - All of the rows whose gender is `?` are placed into another group

2. Each group is aggregated into a single row by average the value of entries in each of the group’s columns.

3. The resulting rows are combined to form a new table, with one row for every group.

**Other aggregation methods:**
- .median()
- .max()
- .min()
- .count()

In [ ]:
gender_count_df = df.groupby('gender').count()
gender_count_df

Let's group by two columns: `gender` and `age` and find the mean

In [ ]:
gender_age_mean_df = df.groupby(['gender', 'age']).mean()
gender_age_mean_df

**Question:** What are the indices of `gender_age_mean_df`?

In [ ]:
gender_age_mean_df.index

This is an example of MultiIndexing. <br>
It uses hierarchical indices for representing higher-dimensional data

**Flattening out the indices**

`.resent_index()` will flatten out the multi-index for us

In [ ]:
gender_age_mean_df.reset_index()

### Function on a cell

> Defining our own functions allows us to make tables even more powerful. One way to use tables with functions is to pass the table into the function as one of its inputs, as we saw in the example above. In some situations, however, we don’t want to apply the function to the entire table, but rather to each entry in one of the table’s columns. In these cases, we can use the .apply method.
(https://eldridgejm.github.io/dive_into_data_science/02-data_sets/apply.html#the-apply-series-method)

Let's write a function to get the word in a movie title

In [ ]:
def get_first_word_in_title(title):
    return title.split()[0]

Now let's apply the function to the title column

In [ ]:
df['title'].apply(get_first_word_in_title)

#### .map()

In [ ]:
# start with lambada functions as annonymous functions

**lambda** *argument* **:** *expression*

Good tutoial on map function: https://github.com/ycui1/medium_series_map/blob/master/medium_map_series.ipynb

### Correlations

**Question:** What is correlation?

In [ ]:
df.corr()

### Merge

In [ ]:
metadata_df = pd.read_csv("data/meta_data7.csv")
characters_df = pd.read_csv("data/character_list5.csv")
characters_df.shape, metadata_df.shape

In [ ]:
metadata_df.head(5)

In [ ]:
characters_df.head(5)

**Question:** How should we combine these? What common attributes are there?

In [ ]:
pd.merge(metadata_df, characters_df, on='script_id').shape

In [ ]:
pd.merge(metadata_df, characters_df, on='script_id')

**Question:** What happened?

### Date Range

In [ ]:
pd.date_range(start='24/4/2020', end='24/5/2020', freq='D')

In [ ]:
timestamp = pd.date_range(start='24/4/2020', end='24/5/2020', freq='D')[0]
timestamp

There is a lot we can get from a timestamp:

In [ ]:
print(timestamp.day_name())
print(timestamp.day_of_week)
print(timestamp.day_of_year)

(back to slides)
## Matplotlib

In [ ]:
import matplotlib.pyplot as plt
fig = plt.figure()
fig.title('figure_title')
plt.show()

In [ ]:
import matplotlib.pyplot as plt
fig = plt.figure()  
fig.show()

In [ ]:
fig, ax = plt.subplots()
ax.set_title("Empty Axis")

In [ ]:
fig, axes_lst = plt.subplots(2, 2)
# 2x2 grid of Axes
fig.suptitle('Title')
axes_lst[0, 0].set_title('Axes 0')
axes_lst[0, 0].set_ylabel('y')
axes_lst[1, 1].set_xlabel('x')
plt.show()

(back to slides)

### Plotting DataFrames

In [ ]:
df = df.sample(1000)

In [ ]:
df.plot()

In [ ]:
df.plot(subplots=True)

#### Types of charts

- scatter plot: identify associations between two numerical variables
- line graph: identify trends in one numerical variable as another increases. often used to see trends over time.
- bar chart: visualize the distribution of a categorical variable
- histogram: visualize the distribution of a numerical variable

**Question:**  Is there an association between the number of words a character has and the percentage of time they speek in the movie?

**Question:** Is there a trend in the total number of words in each movie based on the year the movie came out?

In [ ]:
movie_sums = pd.read_csv("data/Pudding-Film-Dialogue-Clean.csv").groupby('title').sum()

In [ ]:
movie_sums

In [ ]:
df.plot(kind='line', x='release_year', y='words')

In [ ]:
df.sample(100).plot(kind='scatter', x='words', y='age')

In [ ]:
df['age'].describe()

In [ ]:
df['age'] > 2000

**Question:** Let's come up with a new question together

**Question:** Lets make a bar plot that shows the average number of words broken down by gender and age (old) movies.

## Regex
(table in pdf in other window)