# Demo 03 - Numpy and Pandas

In [ ]:
import pandas as pd
import numpy as np
import time
import random

## List Compression

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

# Write a for loop for adding fruits that contian the letter 'a' to newlist

In [ ]:
# Write a one liner

More examples https://www.w3schools.com/python/python_lists_comprehension.asp

(slides)

## Array vs List

### Initalizing array

In [ ]:
array = np.array([1,2,3])
array

In [ ]:
evenly_spaced_array = np.linspace(0, 9, 10)
evenly_spaced_array

In [ ]:
np.zeros(10)

In [ ]:
np.zeros((5, 2)) # 5 by 2

In [ ]:
np.ones(5)

In [ ]:
np.ones((5, 5)) # 5 by 5 of all ones

In [ ]:
np.full(5, 'a')

**Question:** What is different about what is printed out compared to the previous arrays?

In [ ]:
np.full((3, 3), 4)

In [ ]:
np.empty(10)

In [ ]:
np.arange(10, 20)

In [ ]:
np.arange(start=10, stop=20)

In [ ]:
np.arange(stop=20, start=10)

(back to slides)

### Element-wise operations

In [ ]:
random_array = np.random.rand(5)
random_array

In [ ]:
random_array * 5

In [ ]:
random_array / 5

In [ ]:
random_array + 5

In [ ]:
random_array *= 5
random_array

In [ ]:
random_array > 1

In [ ]:
random_array == 1

#### Homogenous types

In [ ]:
np.array([1,2,3]).dtype

In [ ]:
np.array([1,2,3])[0]

In [ ]:
np.array([1, "two", 3]).dtype

In [ ]:
np.array([1, "two", 3])[0]

In [ ]:
type(np.array([1, "two", 3])[0])

#### Adding Arrays vs Lists

In [ ]:
list_one = [num for num in range(10)]
list_two = [num for num in range(10, 20)]

list_one, list_two

In [ ]:
list_one + list_two

In [ ]:
array1 = np.arange(10)
array2 = np.arange(10, 20)

array1, array2

In [ ]:
array1 + array2

#### Concatenating arrays

In [ ]:
np.concatenate((array1, array2))

### Speed

In [ ]:
list_one = [random.random() for i in range(int(1e5))]
list_two = [random.random() for i in range(int(1e5))]

array_one = np.array(list_one)
array_two = np.array(list_two)

In [ ]:
list_three = []
start = time.time()
for one, two in zip(list_one, list_two):
    list_three.append(one * two)
end = time.time()
end - start

In [ ]:
start = time.time()
array_three = array_one * array_two
end = time.time()
end - start

Let's increase the size of the list to 1e8 and see if there is a larger difference

In [ ]:
np.array([1,2,3,4])

In [ ]:
np.arange(20)

In [ ]:
type(np.arange(20))

## Numpy Math Functions

In [ ]:
random_array = np.random.randn(30)
random_array

In [ ]:
random_array.mean()

In [ ]:
random_int_array = np.random.randint(low = 0, high = 10, size = 50)
random_int_array

**Question** Find the median of `random_int_array`

In [ ]:
np.median(random_int_array)

(back to slides)
## Series

In [ ]:
arr = np.array([5, 4, 2, 0, 1])
s1 = pd.Series(arr)
s1

**Question:** What are the indices in `s1`?

In [ ]:
s2 = pd.Series(arr, index=['a','b','c','d','e'])
print(s2)

**Question:** What are the indices in `s2`?

In [ ]:
mydict = {'a': 1, 'b': 2, 'c': 3}
s3 = pd.Series(mydict)
s3

In [ ]:
s4 = pd.Series(mydict, index=['b','a','d'])
s4

**Question:** What is `Nan`?

**Question:** Why is the Series now a series of floats rather than ints?

In [ ]:
s4.isna()

In [ ]:
s5 = pd.Series(5, index=['a','b','c'])
s5

### Indexing Series

In [ ]:
s5[1]

In [ ]:
s5['b']

### Vectorized operations

In [ ]:
s5, s3

In [ ]:
s5 + s3

#### Adding mismatched indices

In [ ]:
s1, s3

In [ ]:
s1 + s3

In [ ]:
s3

In [ ]:
s3.mean()

#### Additional functions

In [ ]:
np.exp(s1)

In [ ]:
s2

In [ ]:
np.log(s2)

In [ ]:
s2.describe()

(back to slides)

## DataFrames

### Constructing a DataFrame

##### Empty dataframe

In [ ]:
pd.DataFrame()

##### Based on Dictionary

In [ ]:
mydict = {'column1': s2, 'column2': s3}
df1 = pd.DataFrame(mydict)

df1

Let's look at the indices of `df1`.

In [ ]:
df1.index

**Question: Why are these the indices?**
    
<details>
<summary>Hint</summary>
<b>Let's look at `s2` and `s1`</b>  
</details>

**Question:** What if the indices don't match up?

In [ ]:
mydict = {'column1': s1, 'column2': s2}
df2 = pd.DataFrame(mydict)

df2

#### Adding Columns to a dataframe

2 ways:
- `df.assign(<column name>=<list>)`
- `df[<column name>] = <list>`  - access like a collection

In [ ]:
df3 = pd.DataFrame()
df3['one'] = np.random.randn(5)
df3 = df3.assign(two=np.random.randn(5))

df3

Adding a new column of a different length

**Question:** Why do we think the next line will throw an error?

In [ ]:
df3['three'] = np.random.randn(6)

In [ ]:
df3['example'] = 'example'
df3

### Pudding Film Dialogue Data

The data we will work with today comes from https://pudding.cool/2017/03/film-dialogue/

> Lately, Hollywood has been taking so much shit for rampant sexism and racism. The prevailing theme: white men dominate movie roles.

> But it’s all rhetoric and no data, which gets us nowhere in terms of having an informed discussion. How many movies are actually about men? What changes by genre, era, or box-office revenue? What circumstances generate more diversity?

> We didn’t set out trying to prove anything, but rather compile real data. We framed it as a census rather than a study. So we Googled our way to 8,000 screenplays and matched each character’s lines to an actor. From there, we compiled the number of words spoken by male and female characters across roughly 2,000 films, arguably the largest undertaking of script analysis, ever.

In [ ]:
pd.read_csv("data/Pudding-Film-Dialogue-Clean.csv")

In [ ]:
df = pd.read_csv("data/Pudding-Film-Dialogue-Clean.csv")
df.head(5)

**Question:** Let's randomly sample 10 rows from the dataframe?

In [ ]:
# How can we find out how to do that?

**Question:** How many rows and columns do we have?

**Question:** What are the different types in each column?

In [ ]:
df.dtypes

### Listing columns

**Question:** On your own using the documentation, find the two ways we can list the columns.

*Hint* One way is a dataframe function and the other is an attribute/instance

### Accessing columns

3 options:

- `df.get(<column name>)`
- `df[<column name>]` - access like a collection
- `df.<column name>` - access like a attribute/method

In [ ]:
# try first option here

In [ ]:
# try second option here

In [ ]:
# try third option here

### Accessing rows

In [ ]:
## Access by index label

df.loc[0]

In [ ]:
## Access by location

df.iloc[0]

### Sorting dataframe

In [ ]:
df.keys()

**Question:** What column should we sort by?

**Question:** What two columns should we sort by?

Return type of dataframe functions

### Querying

In [ ]:
df['age'] > 10

In [ ]:
old_movies = df[df['age'] > 10]
old_movies

Let's look at the indices

**Question:** What do we notice about these indices?

Let's reset the indices

In [ ]:
old_movies.reset_index()

Let's not include the original index

In [ ]:
df.reset_index?

#### Querying on Multiple Conditions

In [ ]:
df[
    (df['release_year'] < 1930)
    &
    (df['gender'] == 'man')
]

In [ ]:
df

### Values in a column

**Question:** Based on everything we've seen so far, how can we determine the set of values that are in a column?

<details>
<summary>Hint</summary>
<b>1. Accessing the column; 2. convert the column (Series) to a set</b>  
</details>

In [ ]:
#skip

In [ ]:
#skip

`unique()`

In [ ]:
df['gender'].unique()

**Question:** How many rows have their gender assigned as `woman`, `man`, or `?`

In [ ]:
df['gender'].value_counts()


### Grouping

Let's group by gender

In [ ]:
gender_groups = df.groupby('gender')
gender_groups

In [ ]:
Now let's find the mean/average values of the other columns for each gender

In [ ]:
gender_groups.mean()

**What just happened?**

1. The table’s rows are split into groups according to cause. 
    - All of the rows whose gender is 'man' are placed into one group,
    - All of the rows whose gender is 'woman' are placed into another group.
    - All of the rows whose gender is `?` are placed into another group

2. Each group is aggregated into a single row by average the value of entries in each of the group’s columns.

3. The resulting rows are combined to form a new table, with one row for every group.

**Other aggregation methods:**
- .median()
- .max()
- .min()
- .count()

In [ ]:
df.groupby('gender').count()

### Function on a cell

> Defining our own functions allows us to make tables even more powerful. One way to use tables with functions is to pass the table into the function as one of its inputs, as we saw in the example above. In some situations, however, we don’t want to apply the function to the entire table, but rather to each entry in one of the table’s columns. In these cases, we can use the .apply method.
(https://eldridgejm.github.io/dive_into_data_science/02-data_sets/apply.html#the-apply-series-method)

Let's write a function to get the word in a movie title

In [ ]:
def get_first_word_in_title(title):
    return title.split()[0]

Now let's apply the function to the title column

In [ ]:
df['title'].apply(get_first_word_in_title)

#### .map()